@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap");
.choices__list.choices__list--single > .choices__item {
  font-size: 2em;
}

.choices__list.choices__list--multiple > .choices__item {
  font-size: 1.5em;
  border-radius: 3px;
}

.choices__list.choices__list--dropdown .choices__item.choices__item--choice {
  font-size: 1.5em;
}

.choices input {
  font-size: 1.5em;
}

li::marker {
  color: #363c4b;
}

body {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
  color: #0c1d46;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}

hr {
  width: 100%;
  height: 2px;
  margin: 0;
  border: 0;
  background-color: #bbb;
}

hr.u-bold {
  height: 5px;
}

hr.u-thin {
  height: 1px;
}

p {
  font-size: 1.2em;
  margin: 0;
}

a {
  color: #0c1d46;
  text-decoration: none;
}

header {
  width: 100%;
  height: 10vh;
  z-index: 2;
  box-shadow: 0px 3px 5px rgba(23, 4, 75, 0.171);
  background-color: #fff;
  border-bottom: 10px solid #ebebeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

header:hover {
  background-color: #e0e0e0;
  transition: 0.3s;
}

header > div {
  overflow-x: hidden;
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

header > div.is-onMiddle {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

header > div.is-onRight {
  opacity: 0;
  transform: translateX(30vw);
  transition: 0.5s;
}

header > div.is-onLeft {
  opacity: 0;
  transition: 0.1s;
  opacity: 0;
  transform: translateX(-30vw);
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100%;
  z-index: 0;
}

article {
  width: 70%;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(23, 4, 75, 0.329);
  overflow-x: hidden;
  padding-bottom: 4em;
}

@media screen and (max-width: 800px) {
  article {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  article {
    width: 70%;
  }
}
nav {
  min-width: 200px;
  width: 20%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
  box-shadow: none;
}

::-webkit-scrollbar-track {
  top: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #777;
}

article:before {
  content: "";
  width: 70%;
  height: 0;
  z-index: 50;
  background-color: white;
  position: absolute;
  box-shadow: 0px 3px 3px rgba(23, 4, 75, 0.329);
}

@media screen and (max-width: 800px) {
  article:before {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  article:before {
    width: 70%;
  }
}
article.is-seqStart:before {
  height: 100%;
  opacity: 1;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

article.is-seqEnd:before {
  opacity: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-radioSelectors {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.c-radioSelectors input {
  width: 100%;
  height: 3em;
  opacity: 0;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  color: #666;
  width: 100%;
  height: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.c-radioSelectors input:checked + label {
  background: #01b43d;
  font-weight: bold;
  color: #fff;
}

.c-icooon {
  width: 1.5em;
  height: 1.5em;
  margin: 0.3em;
  transform: translateY(0.5em);
  display: inline-block;
}

.c-userIcon {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.c-balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 2vw;
  min-width: 120px;
  width: 100%;
  text-align: center;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  border-radius: 6px;
  box-sizing: border-box;
}

.c-balloon:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.c-balloon:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #555;
  z-index: 1;
}

.c-balloon > p {
  margin: 0;
  padding: 0;
}

.c-loadingSpinnerPlaceHolder {
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  background-color: #e0e0e0;
}
.c-loadingSpinnerPlaceHolder > .c-loadingSpinner {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition-property: transform, height, padding-top, padding-bottom;
  display: flex;
  justify-content: space-around;
}
.c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner {
  width: 1.5em;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition-property: height;
  height: 0em;
  animation: sk-bouncedelay 5s infinite ease-in-out;
  transform-origin: 50% 50%;
}
.c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner::after {
  content: "";
  width: 1.5em;
  height: 0em;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition-property: height;
  border-radius: 50%;
  display: inline-block;
  background-color: #4b4b4b;
  animation: sk-bouncedelay__after 5s infinite ease-in-out;
  transform-origin: 50% 50%;
  position: relative;
  top: 0em;
  left: 0em;
}
.c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner.--delay1, .c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner.--delay1::after {
  animation-delay: 0.35s;
}
.c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner.--delay2, .c-loadingSpinnerPlaceHolder > .c-loadingSpinner > .__spinner.--delay2::after {
  animation-delay: 0.7s;
}

.c-loadingSpinnerPlaceHolder.--enabled > .c-loadingSpinner {
  padding-top: 3em;
  padding-bottom: 3em;
}
.c-loadingSpinnerPlaceHolder.--enabled > .c-loadingSpinner > .__spinner {
  height: 1.5em;
}
.c-loadingSpinnerPlaceHolder.--enabled > .c-loadingSpinner > .__spinner::after {
  height: 1.5em;
}

@keyframes sk-bouncedelay {
  0%, 10% {
    transform: scale(0.5) rotate(450deg);
  }
  20% {
    transform: scale(2.1) rotate(-10deg);
  }
  30% {
    transform: scale(2) rotate(0deg);
  }
  70% {
    transform: scale(2) rotate(0deg);
  }
  80% {
    transform: scale(1.9) rotate(-25deg);
  }
  90%, 100% {
    transform: scale(0.5) rotate(-480deg);
  }
}
@keyframes sk-bouncedelay__after {
  0%, 10%, 94%, 100% {
    transform: scale(1.5);
  }
  20%, 83% {
    transform: scale(0);
  }
}
.c-evidenceMovie {
  width: 100%;
  display: flex;
  justify-content: center;
}

.c-evidenceMovie__placeholder {
  margin: 1em;
  width: 80%;
  height: 20em;
  background-color: black;
}

.c-textInput {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
  border: 0;
  text-overflow: clip;
  font-size: 1.2em;
  transform: translateY(0.2em);
}

.c-textInput.u-smallerChara {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2em;
  width: 100%;
}

.c-textInput.u-biggerChara {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
  font-size: 3em;
  width: 100%;
}

.c-textInput::placeholder {
  color: #b9b9b9;
}

.c-iconWithDescription {
  margin: 0 0.5em 0 0.5em;
}

.c-iconWithDescription > * {
  margin: 0 0.3em 0 0.3em;
}

.c-recordCard {
  transition: scale(1);
  box-shadow: 0px 3px 5px rgba(23, 4, 75, 0.329);
  background: #fff;
  margin: 1em 0;
  border-radius: 6px;
  transition-duration: 0.2s;
}

.c-recordCard.is-disable {
  box-shadow: none;
  background: #cccccc;
}

.c-recordCard:hover:not(.is-disable) {
  transform: scale(1.005);
}

.c-recordCardsGroup .c-recordCard {
  margin: 0.5em auto;
}

.c-stateInfo {
  color: #777;
  display: flex;
}

.c-stateInfo__unit {
  margin: 0.5em 0.2em;
  display: flex;
}

.c-tags {
  padding: 0.1em 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.c-tag {
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 0.5em;
}

.c-tag {
  cursor: default;
}

.c-tag:not(.c-recordCard .c-tag) {
  cursor: pointer;
}

.c-tag.--hashTag {
  background-color: #464444;
  color: white;
}

.c-tag.--runner {
  background-color: #b9b9b9;
  font-size: 1.5em;
  font-weight: bolder;
}

.c-tag.--ability {
  background-color: #ffc2ed;
}

.c-tag.--target {
  background-color: #9fe0fc;
}

.c-tag.--gameSystem {
  background-color: #ffd17b;
}

.c-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0.5em;
}

.c-title__main {
  font-weight: 800;
  font-size: xx-large;
}

@media screen and (max-width: 800px) {
  .c-title__main {
    font-size: x-large;
  }
}
@media screen and (min-width: 800px) {
  .c-title__main {
    font-size: xx-large;
  }
}
.c-list {
  display: flex;
  flex-direction: column;
}

.c-list__item {
  width: 100%;
  border-bottom: solid thin #bbb;
  background-color: #fff;
  cursor: pointer;
}

.c-list__item:hover:not(.--hoverAnimeDisabled) {
  background-color: #eee;
  transition: 0.1s;
}

article h1 {
  padding: 0;
}

article h1::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #bbb;
}

.c-button {
  background-color: #5c5c5c;
  color: #fff;
  border-radius: 0.5em;
  padding: 0.5em 0;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  transition: 0.1s;
  cursor: pointer;
}

.c-button:hover {
  background-color: #383838;
  color: #fff;
  transition: 0.1s;
}

.c-button .__smaller {
  background-color: #5c5c5c;
  color: #fff;
  border-radius: 0.5em;
  padding: 0.2em 0;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  transition: 0.1s;
  cursor: pointer;
}

.c-button:hover {
  background-color: #383838;
  color: #fff;
  transition: 0.1s;
}

.p-titlePostHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.p-titlePostHeader__main {
  font-weight: 800;
  font-size: xx-large;
}

@media screen and (max-width: 800px) {
  .p-titlePostHeader__main {
    font-size: x-large;
  }
}
@media screen and (min-width: 800px) {
  .p-titlePostHeader__main {
    font-size: xx-large;
  }
}
.u-background--star {
  background: url("../icon/IcooonMono/star.svg");
  background-size: cover;
}

.u-background--shortcake {
  background: url("../icon/IcooonMono/shortcake.svg");
  background-size: cover;
}

.u-background--difficulty {
  background: url("../icon/IcooonMono/difficulty.svg");
  background-size: cover;
}

.u-background--flag {
  background: url("../icon/IcooonMono/flag2.svg");
  background-size: cover;
}

.u-background--punch {
  background: url("../icon/IcooonMono/punch.svg");
  background-size: cover;
}

.u-background--person {
  background: url("../icon/IcooonMono/person.svg");
  background-size: cover;
}

.u-background--iceCream {
  background: url("../icon/IcooonMono/iceCream.svg");
  background-size: cover;
}

.u-background--ns {
  background: url("../icon/IcooonMono/somethinglikeNintendoSwitch.svg");
  background-size: cover;
}

.u-background--ds {
  background: url("../icon/IcooonMono/somethinglike3ds.svg");
  background-size: cover;
}

.u-background--ramen {
  background: url("../icon/IcooonMono/ramen.svg");
  background-size: cover;
}

.u-background--notebook {
  background: url("../icon/IcooonMono/notebook.svg");
  background-size: cover;
}

.u-background--heart {
  background: url("../icon/IcooonMono/heart.svg");
  background-size: cover;
}

.u-background--gear {
  background: url("../icon/IcooonMono/gear.svg");
  background-size: cover;
}

.u-background--tag {
  background: url("../icon/IcooonMono/tag.svg");
  background-size: cover;
}

.u-background--time {
  background: url("../icon/IcooonMono/time.svg");
  background-size: cover;
}

.u-background--link {
  background: url("../icon/IcooonMono/link.svg");
  background-size: cover;
}

.u-background--cloud {
  background: url("../icon/IcooonMono/cloud.svg");
  background-size: cover;
}

.u-background--feather {
  background: url("../icon/IcooonMono/feather.svg");
  background-size: cover;
}

.u-background--key {
  background: url("../icon/IcooonMono/key.svg");
  background-size: cover;
}

.u-background--menu {
  background: url("../icon/IcooonMono/menu.svg");
  background-size: cover;
}

.u-background--writing {
  background: url("../icon/IcooonMono/writing.svg");
  background-size: cover;
}

.u-background--login {
  background: url("../icon/IcooonMono/login.svg");
  background-size: cover;
}

.u-background--logout, .u-background--exit {
  background: url("../icon/IcooonMono/exit.svg");
  background-size: cover;
}

.u-background--notification {
  background: url("../icon/IcooonMono/notification.svg");
  background-size: cover;
}

.u-background--list {
  background: url("../icon/IcooonMono/list.svg");
  background-size: cover;
}

.u-background--name {
  background: url("../icon/IcooonMono/name.svg");
  background-size: cover;
}

.u-margin05em {
  margin: 0.5em;
}

.u-margin2em {
  margin: 2em;
}

.u-marginUpDown05em {
  margin: 0.5em 0;
}

.u-marginUpDown2em {
  margin: 2em 0;
}

.u-marginUpDown5em {
  margin: 5em 0;
}

.u-marginUpDown05emToChildren > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.u-marginUpDown2emToChildren > * {
  margin-top: 2em;
  margin-bottom: 2em;
}

.u-marginLeftRight05emToChildren > * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.u-marginLeftRight2emToChildren > * {
  margin-right: 2em;
  margin-left: 2em;
}

.u-left-aligined-forFlex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.u-flex-direction-column {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.u-font--ForNumber {
  font-family: "Montserrat", sans-serif;
}

.u-redChara {
  color: #ff4d40;
}

.u-bolderChara {
  font-weight: 900;
}

.u-smallerChara.c-title__main {
  font-size: large;
}

.u-biggerChara.c-title__main {
  font-size: 3.5em;
}

.u-x-biggerChara.c-title__main {
  font-size: 3.5em;
}

.u-x-biggerChara.c-title__sub {
  font-size: xx-large;
  font-weight: bolder;
}

.u-biggerChara.c-title__sub {
  font-size: x-large;
  font-weight: bolder;
}

.u-bolderChara.c-title__sub {
  font-weight: 900;
}

.u-left-align {
  text-align: right;
}

.u-unused {
  display: none;
}

.u-underline {
  border-bottom: 2px solid #131313;
}

.u-space50vh {
  width: 100%;
  height: 50vh;
}

.u-space20vh {
  width: 100%;
  height: 20vh;
}

.u-space3em {
  width: 100%;
  height: 3em;
}

.u-space6em {
  width: 100%;
  height: 6em;
}

.u-width90per {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.u-width95per {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.u-width50per {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.u-width70per {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.u-width60per {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.u-width30perWithoutMargin {
  width: 30%;
}

/*# sourceMappingURL=common.css.map */
