@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap");
body {
  font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
  color: #0c1d46;
  background-color: #f0f0f0;
  height: 100vh;
}

hr {
  width: 100%;
  height: 2px;
  margin: 0;
  border: 0;
  background-color: #bbb;
}

hr.u-bold {
  height: 5px;
}

hr.u-thin {
  height: 1px;
}

p {
  margin: 0;
}

a {
  color: #0c1d46;
  text-decoration: none;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-bottom: 5px solid #bbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

header > div {
  width: 70%;
  overflow-x: hidden;
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

header > div.is-onMiddle {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

header > div.is-onRight {
  opacity: 0;
  transform: translateX(30vw);
  transition: 0.5s;
}

header > div.is-onLeft {
  opacity: 0;
  transition: 0.1s;
  opacity: 0;
  transform: translateX(-30vw);
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100%;
}

article {
  width: 70%;
  background-color: #fff;
  z-index: 1;
  border-right: 10px solid #e9e9e9;
  border-left: 10px solid #e9e9e9;
  overflow-x: hidden;
}

nav {
  min-width: 200px;
  width: 20%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
  box-shadow: none;
}

::-webkit-scrollbar-track {
  top: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #777;
}

.c-evidenceMovie {
  width: 100%;
  display: flex;
  justify-content: center;
}

.c-evidenceMovie__placeholder {
  margin: 1em;
  width: 80%;
  height: 20em;
  background-color: black;
}

.c-iconWithDescription {
  margin: 0 0.5em 0 0.5em;
}

.c-iconWithDescription > * {
  margin: 0 0.3em 0 0.3em;
}

.c-recordCard {
  box-shadow: 0px 3px 5px rgba(23, 4, 75, 0.329);
  background: #fff;
  margin: 1em 0;
  border-radius: 6px;
  transition-duration: 0.2s;
}

.c-recordCard > p {
  margin: 0 0.5em;
}

.c-recordCard:hover {
  transform: scale(1.005);
}

.c-recordCardsGroup .c-recordCard {
  margin: 0.5em auto;
}

.c-stateInfo {
  color: #777;
  display: flex;
}

.c-stateInfo__unit {
  margin: 0.5em 0.2em;
  display: flex;
}

.c-tags {
  padding: 0.1em 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.c-tag {
  cursor: pointer;
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 0.5em;
}

.c-tag.--hashTag {
  background-color: #464444;
  color: white;
}

.c-tag.--runner {
  background-color: #b9b9b9;
  font-size: 1.5em;
  font-weight: bolder;
}

.c-tag.--ability {
  background-color: #ffc2ed;
}

.c-tag.--target {
  background-color: #9fe0fc;
}

.c-tag.--gameSystem {
  background-color: #ffd17b;
}

.c-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0.5em;
}

.c-title__main {
  font-weight: 800;
  font-size: xx-large;
}

.c-list {
  display: flex;
  flex-direction: column;
}

.c-list__item {
  width: 100%;
  border-bottom: solid thin #bbb;
  background-color: #fff;
  cursor: pointer;
}

.c-list__item:hover {
  background-color: #eee;
  transition: 0.1s;
}

article h1 {
  padding: 0;
}

article h1::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #bbb;
}

.u-left-aligined-forFlex {
  display: flex;
  justify-content: flex-end;
}

.u-font--ForNumber {
  font-family: "Montserrat", sans-serif;
}

.u-smallerChara.c-title__main {
  font-size: large;
}

.u-biggerChara.c-title__main {
  font-size: 3.5em;
}

.u-x-biggerChara.c-title__main {
  font-size: 3.5em;
}

.u-x-biggerChara.c-title__sub {
  font-size: xx-large;
  font-weight: bolder;
}

.u-biggerChara.c-title__sub {
  font-size: x-large;
  font-weight: bolder;
}

.u-bolderChara.c-title__sub {
  font-weight: 900;
}

.u-unused {
  display: none;
}

.u-underline {
  border-bottom: 2px solid #131313;
}

.u-space50vh {
  width: 100%;
  height: 50vh;
}

.u-space20vh {
  width: 100%;
  height: 20vh;
}

.u-space3em {
  width: 100%;
  height: 3em;
}

.u-space6em {
  width: 100%;
  height: 6em;
}

.u-width90per {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.u-width95per {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/*# sourceMappingURL=common.css.map */
