.c-loadingSpinnerPlaceHolder{
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  background-color:rgb(224, 224, 224);

  &>.c-loadingSpinner {
    width: 100%;

    padding-top:0; padding-bottom: 0;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
    transition-property: transform,height,padding-top,padding-bottom;

    display:flex;
    justify-content:space-around;

      &>.__spinner {
        width: 1.5em; 
        height: 0em;
        
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
        transition-property: height;
        
        animation: sk-bouncedelay 5s infinite ease-in-out;
        transform-origin:50% 50%;

        &::after {
          content: "";
          width: 1.5em; height: 0em;
          
          transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
      transition-property: height;

          border-radius: 50%;
          display: inline-block;
          background-color: rgb(75, 75, 75);
          animation: sk-bouncedelay__after 5s infinite ease-in-out;
          transform-origin:50% 50%;
      
          position: relative;
          top: 0em; left: 0em;
        }

        &.--delay1, &.--delay1::after {
          animation-delay: 0.35s;
        }
        &.--delay2, &.--delay2::after {
          animation-delay: 0.7s;
        }
    }
    
  }
} 

.c-loadingSpinnerPlaceHolder.--enabled{
  &>.c-loadingSpinner {
    padding-top:3em; padding-bottom: 3em;

    &>.__spinner {
      height:1.5em;
      &::after{
        height: 1.5em;
      }
    }
    
  }
  
}
  

  

@keyframes sk-bouncedelay {
    0%, 10%{
      transform: scale(0.5) rotate(450deg);
    }
    20%{
      transform: scale(2.1) rotate(-10deg);
    }
    30% {
      transform: scale(2.0) rotate(0deg);
    }
    70% {
      transform: scale(2.0) rotate(0deg);
    }
    80% {
      transform: scale(1.9) rotate(-25deg);
    }
    90%,100% {
      transform: scale(0.5) rotate(-480deg);
    }
  }
  @keyframes sk-bouncedelay__after {
    0%, 10%, 94%, 100% {
      transform: scale(1.5);
    }
    20%, 83% {
      transform: scale(0);
    }
  }