.c-list{
    display:flex;
    flex-direction: column;
}
.c-list__item{
    width:100%;
    border-bottom: solid thin #bbb;
    background-color:#fff;
    cursor:pointer;
}
.c-list__item:hover:not(.--hoverAnimeDisabled){
    background-color:#eee;
    transition: 0.1s;
}