.c-evidenceMovie{
    width:100%;
    display: flex;
    justify-content: center;
    
}
.c-evidenceMovie__placeholder{
    margin: 1.0em;
    width:80%;
    height: 20em;
    background-color: black;
}