.c-radioSelectors{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.c-radioSelectors>.__item{
    color:#666;
   
    background: #fff;
    align-items: center;
    display: flex;
    justify-content:center;
    font-weight:lighter;
    width:10em;height:3em;
    border: solid #666 thin;
    border-right: none;
}

.c-radioSelectors>.__item:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.c-radioSelectors>.__item:last-child{

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: solid #666 thin;
}
.c-radioSelectors>.__item.--checked{
    font-weight: bold;
    background-color:rgb(34, 201, 1);
    color: #fff;
}

.c-radioSelectors.--disabled>.__item{
    background-color:rgb(209, 209, 209);
    color: rgb(82, 82, 82);
}
.c-radioSelectors.--disabled>.__item.--checked{
    font-weight: bold;
    background-color:rgb(22, 129, 1);
    color: rgb(201, 201, 201);
}