.c-recordCard {
    transition: scale(1.0);
    box-shadow: 0px 3px 5px rgba(23, 4, 75, 0.329);
    background: #fff;
    margin:1em 0;
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.c-recordCard.is-disable {
    box-shadow: none;
    background: rgb(204, 204, 204);
}
.c-recordCard:hover:not(.is-disable){
    transform: scale(1.005);
}
