.c-tags{
    padding: 0.1em 0.5em;
    display:flex;
    flex-wrap: wrap;
}
.c-tag{
    margin: 0.1em;
    padding: 0.3em;
    border-radius : 0.5em;
    border-width: 3px;
    border-style: solid;
}
.c-tag{
    cursor: default;
}
.c-tag:not(.c-recordCard .c-tag){
    cursor: pointer;
}

.c-tag.--hashTag{
    border-color: rgb(70, 68, 68);
}

.c-tag.--runner{
    border-color: rgb(185, 185, 185);
    font-size: 1.5em;
    font-weight: bolder;
}

.c-tag.--ability{
    border-color: rgb(255, 194, 237);
}

.c-tag.--target{
    border-color: rgb(159, 224, 252);
}
.c-tag.--gameSystem{
    border-color: rgb(255, 209, 123);
}