@charset "UTF-8";
@use "../../foundation/variables.scss" as variables;
.c-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding : 0.5em;
}

.c-title__main{
    font-weight: 800;
    font-size: xx-large;
}
@media screen and (max-width:variables.$mobileMaxWidth) {
    .c-title__main {font-size: x-large;}
}
@media screen and (min-width:variables.$mobileMaxWidth) {
    .c-title__main {font-size: xx-large;}
}