.p-gamemodeOverView{
    width:90%;
    padding-left: 5%;
    padding-right: 5%;
    >.__text{
        font-weight: bolder;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    >.c-stateInfo{
        justify-content:center;
        
    }
    
}