.u-background--gray{
  background-color: rgb(241, 241, 241);
}
.u-background--blue{
  background-color: rgb(231, 230, 253);
}

.u-background--star{
    background: url("../icon/IcooonMono/star.svg");
    background-size: cover;
  }
  .u-background--earth{
    background: url("../icon/IcooonMono/earth.svg");
    background-size: cover;
  }
.u-background--shortcake{
    background: url("../icon/IcooonMono/shortcake.svg");
    background-size: cover;
  }
.u-background--difficulty{
    background: url("../icon/IcooonMono/difficulty.svg");
    background-size: cover;
  }
.u-background--flag{
    background: url("../icon/IcooonMono/flag2.svg");
    background-size: cover;
  }
.u-background--punch{
    background: url("../icon/IcooonMono/punch.svg");
    background-size: cover;
}
.u-background--person{
    background: url("../icon/IcooonMono/person.svg");
    background-size: cover;
  }
.u-background--iceCream{
    background: url("../icon/IcooonMono/iceCream.svg");
    background-size: cover;
  }
.u-background--ns{
    background: url("../icon/IcooonMono/somethinglikeNintendoSwitch.svg");
    background-size: cover;
  }
.u-background--ds{
    background: url("../icon/IcooonMono/somethinglike3ds.svg");
    background-size: cover;
  }
.u-background--ramen{
    background: url("../icon/IcooonMono/ramen.svg");
    background-size: cover;
  }
.u-background--contract{
  background: url("../icon/IcooonMono/contract.svg");
  background-size: cover;
}
.u-background--notebook{
    background: url("../icon/IcooonMono/notebook.svg");
    background-size: cover;
}
.u-background--heart{
    background: url("../icon/IcooonMono/heart.svg");
    background-size: cover;
}
.u-background--gear{
  background: url("../icon/IcooonMono/gear.svg");
  background-size: cover;
}

.u-background--tag{
  background: url("../icon/IcooonMono/tag.svg");
  background-size: cover;
}
.u-background--time{
  background: url("../icon/IcooonMono/time.svg");
  background-size: cover;
}
.u-background--link{
  background: url("../icon/IcooonMono/link.svg");
  background-size: cover;
}
.u-background--cloud{
  background: url("../icon/IcooonMono/cloud.svg");
  background-size: cover;
}
.u-background--feather{
  background: url("../icon/IcooonMono/feather.svg");
  background-size: cover;
}
.u-background--key{
  background: url("../icon/IcooonMono/key.svg");
  background-size: cover;
}
.u-background--menu{
  background: url("../icon/IcooonMono/menu.svg");
  background-size: cover;
}
.u-background--writing{
  background: url("../icon/IcooonMono/writing.svg");
  background-size: cover;
}
.u-background--login{
  background: url("../icon/IcooonMono/login.svg");
  background-size: cover;
}
.u-background--logout,.u-background--exit{
  background: url("../icon/IcooonMono/exit.svg");
  background-size: cover;
}

.u-background--notification{
  background: url("../icon/IcooonMono/notification.svg");
  background-size: cover;
}

.u-background--list{
  background: url("../icon/IcooonMono/list.svg");
  background-size: cover;
}
.u-background--name{
  background: url("../icon/IcooonMono/name.svg");
  background-size: cover;
}
.u-background--duplicated{
  background: url("../icon/IcooonMono/duplicateDocument.svg");
  background-size: cover;
}
.u-background--folder{
  background: url("../icon/IcooonMono/folder.svg");
  background-size: cover;
}
.u-background--kssrs{
  background: url("../icon/icon.png");
  background-size: cover;
}