.u-background--star{
    background: url("../icon/IcoonMono/star.svg");
    background-size: cover;
  }
.u-background--shortcake{
    background: url("../icon/IcoonMono/shortcake.svg");
    background-size: cover;
  }
.u-background--difficulty{
    background: url("../icon/IcoonMono/difficulty.svg");
    background-size: cover;
  }
.u-background--flag{
    background: url("../icon/IcoonMono/flag2.svg");
    background-size: cover;
  }
.u-background--punch{
    background: url("../icon/IcoonMono/punch.svg");
    background-size: cover;
  }
.u-background--iceCream{
    background: url("../icon/IcoonMono/iceCream.svg");
    background-size: cover;
  }
.u-background--ns{
    background: url("../icon/IcoonMono/somethinglikeNintendoSwitch.svg");
    background-size: cover;
  }
.u-background--ds{
    background: url("../icon/IcoonMono/somethinglike3ds.svg");
    background-size: cover;
  }
.u-background--ramen{
    background: url("../icon/IcoonMono/ramen.svg");
    background-size: cover;
  }

.u-background--notebook{
    background: url("../icon/IcoonMono/notebook.svg");
    background-size: cover;
}
.u-background--heart{
    background: url("../icon/IcoonMono/heart.svg");
    background-size: cover;
}
.u-background--gear{
  background: url("../icon/IcoonMono/gear.svg");
  background-size: cover;
}

.u-background--tag{
  background: url("../icon/IcoonMono/tag.svg");
  background-size: cover;
}
.u-background--time{
  background: url("../icon/IcoonMono/time.svg");
  background-size: cover;
}
.u-background--link{
  background: url("../icon/IcoonMono/link.svg");
  background-size: cover;
}
.u-background--cloud{
  background: url("../icon/IcoonMono/cloud.svg");
  background-size: cover;
}