.u-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__sub{
    font-size: xx-large;
    font-weight:bolder;
}
.u-biggerChara.c-title__sub{
    font-size: x-large;
    font-weight:bolder;
}
.u-bolderChara.c-title__sub{
    font-weight: 900;
}