.u-font--ForNumber{
    font-family: 'Montserrat', sans-serif;
}

.u-x-biggerChara{
    font-size: 2.0em;
    font-weight:bolder;
}

.u-redChara{
    color:rgb(255, 77, 64);
}

.u-greenChara{
    color:rgb(110, 196, 75)
}

.u-blueChara{
    color:rgb(68, 55, 182)
}
.u-grayChara{
    color:rgb(158, 158, 158)
}
.u-bolderChara{
    font-weight: 900;
}

.u-smallerChara{
    font-size:smaller;
}
.u-bolderChara{
    font-weight: 900;
}
.u-smallerChara.c-title__main{
    font-size:1.2em;
}
.u-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__sub{
    font-size: 1.4em;
    font-weight:bolder;
}
.u-biggerChara.c-title__sub{
    font-size: 1.4em;
    font-weight:bolder;
}

.u-bolderChara.c-title__sub{
    font-weight: 900;
}

.u-left-align{
    text-align: right;
}