.u-font--ForNumber{
    font-family: 'Montserrat', sans-serif;
}

.u-redChara{
    color:rgb(255, 77, 64);
}
.u-bolderChara{
    font-weight: 900;
}

.u-smallerChara{
    font-size:smaller;
}
.u-smallerChara.c-title__main{
    font-size:large;
}
.u-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__main{
    font-size: 3.5em;
}
.u-x-biggerChara.c-title__sub{
    font-size: xx-large;
    font-weight:bolder;
}
.u-biggerChara.c-title__sub{
    font-size: x-large;
    font-weight:bolder;
}
.u-bolderChara.c-title__sub{
    font-weight: 900;
}

.u-left-align{
    text-align: right;
}