.u-marginUpDown05emToChildren>*{
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
.u-marginUpDown2emToChildren>*{
    margin-top:2.0em;
    margin-bottom: 2.0em;
}
.u-marginLeftRight05emToChildren>*{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.u-marginLeftRight2emToChildren>*{
    margin-right: 2.0em;
    margin-left: 2.0em;
}

.u-marginLeftRight05em{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.u-margin05em{
    margin:0.5em;
}
.u-margin1em{
    margin:1em;
}
.u-margin2em{
    margin:2em;
}


.u-marginUpDown05em{
    margin-top:.5em;
    margin-bottom: .5em;
}
.u-marginUpDown1em{
    margin-top:1em;
    margin-bottom: 1em;
}
.u-marginUpDown2em{
    margin-top:2em;
    margin-bottom: 2em;
}
.u-marginUpDown5em{
    margin-top:5em;
    margin-bottom: 5em;
}
.u-marginLeftRight2em{
    margin-left:2em;
    margin-right: 2em;
}
.u-marginLeftRight05em{
    margin-left:0.5em;
    margin-right: 0.5em;
}