@use "../../foundation/variables.scss" as variables;
.u-space50vh{
    width:100%;
    height: 50vh;
}
.u-space20vh{
    width:100%;
    height: 20vh;
}
.u-space3em{
    width:100%;
    height: 3em;
}
.u-space1em{
    width:100%;
    height: 1em;
}
.u-space2em{
    width:100%;
    height: 2em;
}
.u-space6em{
    width:100%;
    height: 6em;
}

.u-fixedSpace_menuIconWidth{
    max-width:2.6em;
    min-width:2.6em;
}

.u-charaSpace_1em{
    width:1em;
    height:1em;
    display: inline-block;
}