@use "../../foundation/variables.scss" as variables;
.u-space50vh{
    width:100%;
    height: 50vh;
}
.u-space20vh{
    width:100%;
    height: 20vh;
}
.u-space3em{
    width:100%;
    height: 3em;
}
.u-space1em{
    width:100%;
    height: 1em;
}
.u-space2em{
    width:100%;
    height: 2em;
}
.u-space6em{
    width:100%;
    height: 6em;
}

@media screen and (max-width:variables.$mobileMaxWidth) {
    .u-fixedSpace_menuIconWidth{
        max-width:3.0em;
        min-width:3.0em;
    }
}
@media screen and (min-width:variables.$mobileMaxWidth) {
    .u-fixedSpace_menuIconWidth{
        max-width:3.5em;
        min-width:3.5em;
    }
}