.u-underline{
    border-bottom: 2px solid rgb(19, 19, 19) 

}
.u-underline_text{
    text-decoration: underline;
}
.u-inline{
    display: inline-block;
}
.u-clickable{
    cursor: pointer;
}
.u-unclickable{
    cursor: auto;
}
.u-wordbreak{
    word-break: break-all;
}
