.u-width90per{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}
.u-width95per{
    width:95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.u-width50per{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

.u-width70per{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}
.u-width60per{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}
.u-width30perWithoutMargin{
    width:30%;
}